services:
  - type: web
    name: tumascotandil-backend
    env: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    plan: free
    region: oregon
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DB_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_DDL_AUTO
        value: update
      - key: DB_SHOW_SQL
        value: "false"
      - key: DB_FORMAT_SQL
        value: "false"
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: ADMIN_CREATE_ON_STARTUP
        value: "true"
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: LOG_LEVEL
        value: INFO
      - key: CLOUDINARY_ENABLED
        value: "true"
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
